{% extends 'base.twig' %}

{% block breadcrumbs %}
    <nav id="supsystic-breadcrumbs" class="supsystic-breadcrumbs">
        <a href="{{ environment.generateUrl('slider') }}">{{ translate('Slider by Supsystic') }}</a>
        <i class="fa fa-angle-right"></i>
        <a href="{{ environment.generateUrl('insta', 'authorization') }}">{{ translate('Instagram') }}</a>
    </nav>
{% endblock %}

{% block content %}

    <h2 id="gg-alrt" style="text-align: center; color: #bfbfbf; margin: 50px 0 25px 0;">
		<span style="margin-bottom: 20px; display: block;">
			{{ translate('Upload your images from the Instagram Media Library') }}
		</span>
        <a class="button button-primary button-hero bordered" href="{{ url }}">
            <i class="fa fa-fw fa-instagram"></i>
            {{ translate('Upload from Instagram') }}
        </a>
    </h2>
{% endblock %}