<div id="supsystic-slider-{{ slider.id }}" class="supsystic-slider supsystic-slider-{{ slider.plugin }}" data-settings="{{ slider.settings|json_encode }}" data-thumbs="thumbnails-{{ slider.id }}" style="{% if slider.settings.properties.position == 'left' %}float:left;{% elseif slider.settings.properties.position == 'right' %}float:right;{% endif %}">
    <ul style="margin: 0 !important;">
        {% for entity in slider.entities %}
            {% if entity.type == 'image' %}
                <li>
                {% if entity.attachment.external_link %}
                    <a href="{{ entity.attachment.external_link }}" target="{{ entity.attachment.target }}">
                        {% if slider.settings.properties.widthType == '%' %}
                            <img src="{{ entity.attachment.url }}" width="100%" height="100%" alt="{{ entity.attachment.title|title }}" title="{{ entity.attachment.description|raw }}"/>
                        {% else %}
                            <img src="{{ entity|image_size(slider.settings.properties.width, slider.settings.properties.height) }}" alt="{{ entity.attachment.title|title }}" title="{{ entity.attachment.description|raw }}"/>
                        {% endif %}
                    </a>
                    {% else %}
                        {% if slider.settings.properties.widthType == '%' %}
                            <img src="{{ entity.attachment.url }}" width="100%" height="100%" alt="{{ entity.attachment.title|title }}" title="{{ entity.attachment.description|raw }}"/>
                        {% else %}
                            <img src="{{ entity|image_size(slider.settings.properties.width, slider.settings.properties.height) }}" alt="{{ entity.attachment.title|title }}" title="{{ entity.attachment.description|raw }}"/>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<ul class="thumbnails-{{ slider.id }} thumbs" style="margin: 0 10px !important;">
    {% for entity in slider.entities %}
        <li>
            {% if slider.settings.properties.widthType == '%' %}
                <img src="{{ entity|image_size('100', slider.settings.properties.height/3.0) }}" alt="{{ entity.attachment.title|title }}" title="{{ entity.attachment.description }}"/>
            {% else %}
                <img src="{{ entity|image_size(slider.settings.properties.width/4.0, slider.settings.properties.height/3.0) }}" alt="{{ entity.attachment.title|title }}" title="{{ entity.attachment.description }}"/>
            {% endif %}
        </li>
    {% endfor %}
</ul>