{% extends '@slider/view.twig' %}

{% block buttons %}
    {% import '@slider/macro/tabs.twig' as tabs %}

    {{ tabs.button(translate('General'), 'general-mode', 'gears') }}
    <div class="separator">|</div>
    {{ tabs.button(translate('Touch'), 'touch', 'dot-circle-o') }}
    <div class="separator">|</div>
    {{ tabs.button(translate('Pager'), 'pager', 'bars') }}
    <div class="separator">|</div>
    {{ tabs.button(translate('Properties'), 'properties', 'bookmark') }}

{% endblock %}

{% block form %}
    {% import '@core/form.twig' as form %}

    {{ form.row(translate('Mode'),
    form.select('general[mode]', {'horizontal': 'Horizontal', 'vertical': 'Vertical', 'fade': 'Fade'}, slider.settings.general.mode, {'id': 'generalMode' }), 'general-mode') }}

    {{ form.row(translate('Slideshow'),
    form.select('general[auto]', {'disable': 'Disable', 'enable': 'Enable'}, slider.settings.general.auto, {'id': 'generalSlideshow' }), 'general-slideshow') }}

    {{ form.row(translate('Slideshow controls'),
    form.select('general[slideshowControls]', {'disable': 'Disable', 'enable': 'Enable'}, slider.settings.general.slideshowControls, {'id': 'slideshowControls' }), 'general-controls') }}

    {{ form.row(translate('Navigation'),
    form.select('general[navigation]', ['standart', 'thumbnails'], slider.settings.general.navigation, {'id': 'generalNavigation' }), 'general-navigation') }}

    <tr>
        <th scope="row">
            <label for="generalCaptions">
                {{ translate('Captions') }}
                {{ form.tooltip('general-captions') }}
            </label>
        </th>
        <td>
            {% for value in ['true', 'false'] %}
                <label for="generalCaptions{{ value|capitalize }}" style="margin-right: 10px;">
                    <input type="radio" name="general[captions]"
                           id="generalCaptions{{ value|capitalize }}"
                           value="{{ value }}"
                            {% if slider.settings.general.captions == value %}
                        checked="checked"
                            {% endif %}/>
                        <span>
                            {{ translate(value|replace({ 'true': 'Yes', 'false': 'No' })) }}
                        </span>
                </label>
            {% endfor %}
        </td>
    </tr>

    {{ form.row(translate('Speed'),
    form.input('text', 'general[speed]', slider.settings.general.speed|default(500), {'id': 'generalSpeed', 'class': 'regular-text', 'style': 'width: 140px;' }), 'general-speed') }}

    {#{{ form.row(environment.translate('Margin'),
    form.input('text', 'general[slideMargin]', slider.settings.general.slideMargin|default(0), {'id': 'generalSlideMargin', 'class': 'regular-text', 'style': 'width: 140px;' }), 'general-margin') }}#}

    {{ form.row(translate('Starting slide'),
    form.input('checkbox', 'general[randomStart]', slider.settings.general.randomStart|default(0), {'id': 'generalRandomStart' })
    ~ form.label('generalRandomStart',translate('Start slider on a random slide')), 'general-start') }}


    {% set easing = {
        'linear': 'Linear',
        'swing': 'Swing',
        'easeInCirc': 'EaseInCirc',
        'easeInBack': 'EaseInBack',
        'easeInExpo': 'EaseInExpo',
        'easeOutElastic': 'EaseOutElastic',
        'easeInOutElastic': 'EaseInOutElastic'
    } %}

    {{ form.row(translate('Easing'),
    form.select('general[easing]', easing, slider.settings.general.easing, {'id': 'generalEasing' }), 'general-easing') }}

    <tr data-tab="touch" id="touch">
        <th scope="row">
            <label for="touchEnabled">
                {{ translate('Enable touch') }}
                {{ form.tooltip('general-touch') }}
            </label>
        </th>
        <td>
            <label>
                <input type="radio" name="touch[touchEnabled]" value="true"
                       {% if slider.settings.touch.touchEnabled|default('true') == 'true' %}checked="checked"{% endif %}/>
                    <span>
                        {{ translate('Yes') }}
                    </span>
            </label>&nbsp;
            <label>
                <input type="radio" name="touch[touchEnabled]" value="false"
                       {% if slider.settings.touch.touchEnabled|default('true') == 'false' %}checked="checked"{% endif %}/>
                    <span>
                        {{ translate('No') }}
                    </span>
            </label>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="touchOneToOneTouch">
                {{ translate('One-to-One touch') }}
                {{ form.tooltip('general-one-to-one') }}
            </label>
        </th>
        <td>
            <label>
                <input type="radio" name="touch[oneToOne]" value="true"
                       {% if slider.settings.touch.oneToOne|default('true') == 'true' %}checked="checked"{% endif %}/>
                    <span>
                        {{ translate('Yes') }}
                    </span>
            </label>&nbsp;
            <label>
                <input type="radio" name="touch[oneToOne]" value="false"
                       {% if slider.settings.touch.oneToOne|default('true') == 'false' %}checked="checked"{% endif %}/>
                    <span>
                        {{ translate('No') }}
                    </span>
            </label>
        </td>
    </tr>

    {{ form.row(translate('Swipe threshold'),
    form.input('text', 'touch[swipeThreshold]', slider.settings.touch.swipeThreshold|default(50), {'id': 'touchSwipeThreshold', 'class': 'regular-text', 'style': 'width: 140px;' }), 'general-threshold') }}

    <tr data-tab="pager" id="pager">
        <th scope="row">
            <label for="pagerEnabled">
                {{ translate('Enable pager') }}
                {{ form.tooltip('general-pager') }}
            </label>
        </th>
        <td>
            <label>
                <input type="radio" name="pager[pagerEnabled]" value="true"
                       {% if slider.settings.pager.pagerEnabled|default('false') == 'true' %}checked="checked"{% endif %}/>
                    <span>
                        {{ translate('Yes') }}
                    </span>
            </label>&nbsp;
            <label>
                <input type="radio" name="pager[pagerEnabled]" value="false"
                       {% if slider.settings.pager.pagerEnabled|default('false') == 'false' %}checked="checked"{% endif %}/>
                    <span>
                        {{ translate('No') }}
                    </span>
            </label>

        </td>
    </tr>

    {{ form.row(translate('Type'),
    form.select('pager[pagerType]', {'full': 'Full', 'short': 'Short'}, slider.settings.pager.pagerType, {'id': 'pagerType' }), 'general-pager-type') }}

    <div id="selectTextInEffectDialog" title="{{ translate('Select Text in effect') }}" style="display: none;">
        {% set textInEffects = {
            'fadeIn': 'FadeIn',
            'rollIn': 'RollIn',
            'fadeInLeftBig': 'FadeInLeftBig',
            'fadeInRightBig': 'FadeInRightBig',
            'fadeInLeft': 'FadeInLeft',
            'fadeInRight': 'FadeInRight',
            'fadeInUp': 'FadeInUp',
            'fadeInDown': 'FadeInDown',
            'flipInX': 'FlipInX',
            'flipInY': 'FlipInY'
        } %}
        {% for key, value in textInEffects %}
            <div id="tieImg" class="unselectedPreset" style="position: relative; width: 400px;">
                <img id="tieImg" data-src="holder.js/400x120?text={{ value }}" data-value="{{ key }}">
                <div class="bx-caption-preview" style="text-align: left; color: #000000; background-color: rgba(0,0,0,.3); font-size: 1em; width: 100%;">
                    <span data-in-effect="{{ key }}">{{ value }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="selectTextOutEffectDialog" title="{{ translate('Select Text out effect') }}" style="display: none;">
        {% set textOutEffects = {
            'fadeOut': 'FadeOut',
            'rollOut': 'RollOut',
            'fadeOutLeftBig': 'FadeOutLeftBig',
            'fadeOutRightBig': 'FadeOutRightBig',
            'fadeOutLeft': 'FadeOutLeft',
            'fadeOutRight': 'FadeOutRight',
            'fadeOutUp': 'FadeOutUp',
            'fadeOutDown': 'FadeOutDown',
            'flipOutX': 'FlipOutX',
            'flipOutY': 'FlipOutY'
        } %}
        {% for key, value in textOutEffects %}
            <div id="toeImg" class="unselectedPreset" style="position: relative; width: 400px;">
                <img id="toeImg" data-src="holder.js/400x120?text={{ value }}" data-value="{{ key }}">
                <div class="bx-caption-preview" style="text-align: left; color: #000000; background-color: rgba(0,0,0,.3); font-size: 1em; width: 100%;">
                    <span data-out-effect="{{ key }}">{{ value }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="selectControlsDialog" title="{{ translate('Select Controls type') }}" style="display: none;">
        {% set controlsType = {
            'circle_arrows': 'Circle Arrows',
            'little_arrows': 'Little Arrows',
            'standart_big': 'Standart Big',
            'standart_small': 'Standart Small',
            'circle_little': 'Circle Little',
            'square_big': 'Square Big',
            'fast': 'Fast',
            'little': 'Little',
            'go_small': 'Go Small'
        } %}
        {% for key, value in controlsType %}
            <div id="controlsType" class="unselectedPreset" style="position: relative; width: 400px;">
                <img id="controlsType" data-src="holder.js/400x120?text={{ value }}" data-value="{{ key }}">
                <div class="bx-wrapper" style="margin: inherit !important; position: static !important;">
                    <div class="bx-controls-preview" style="">
                        <a href="" class="bx-prev" id="{{ key }}">Prev</a>
                        <a href="" class="bx-next" id="{{ key }}">Next</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}