{% extends '@slider/view.twig' %}

{% macro checked(expected, actual, default) %}
    {% if actual is empty %}
        {% if default %}checked="checked"{% endif %}
    {% elseif expected == actual %}
        checked="checked"
    {% else %}
        {% if default %}checked="checked"{% endif %}
    {% endif %}
{% endmacro %}

{% block buttons %}
    {% import '@slider/macro/tabs.twig' as tabs %}

    {{ tabs.button(translate('Effects'), 'effects', 'gears') }}
    <div class="separator">|</div>
    {{ tabs.button(translate('Controls'), 'controls', 'laptop') }}
{% endblock %}

{% block form %}
    {% import '@core/form.twig' as form %}

    {% import _self as macro %}

    <table class="form-table" data-tab="effects" id="effects">
        <thead>
        <tr>
            <th scope="row">
                <label for="effectsEffect">
                    {{ translate('Effect') }}
                    {{ form.tooltip('general-effect') }}
                </label>
            </th>
            <td>
                <span id="effectName" style="position: relative; bottom: -5px; margin-right: 5px;">{{ slider.settings.effects.effect|title }}</span>
                <button id="showEffectsPreview" class="button">
                    {{ translate('Select effect') }}
                </button>
                <input name="effects[effect]" value="{{ slider.settings.effects.effect }}" type="hidden"/>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="effectsTitleSpeed">
                    {{ translate('Title speed') }}
                    {{ form.tooltip('general-title-speed') }}
                </label>
            </th>
            <td>
                <input class="regular-text" type="number" name="effects[titleSpeed]"
                       id="effectsTitleSpeed" value="{{ slider.settings.effects.titleSpeed }}" step="100" min="0"/>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="effectsOpacity">
                    {{ translate('Opacity') }}
                    {{ form.tooltip('general-opacity') }}
                </label>
            </th>
            <td>
                <input class="regular-text" type="number"
                       name="effects[opacity]" id="effectsOpacity" value="{{ slider.settings.effects.opacity }}" min="0" max="1" step="0.1"/>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="effectsDelay">
                    {{ translate('Delay') }}
                    {{ form.tooltip('general-delay') }}
                </label>
            </th>
            <td>
                <input class="regular-text" type="number" name="effects[delay]"
                       id="effectsDelay" value="{{ slider.settings.effects.delay }}" min="0" step="100"/>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="effectsHoverPause">
                    {{ translate('Pause') }}
                    {{ form.tooltip('general-pause') }}
                </label>
            </th>
            <td>
                <label for="effectsHoverPauseFalse">
                    <input type="radio" name="effects[hoverPause]"
                           id="effectsHoverPauseTrue"
                           value="true" {{ macro.checked('true', slider.settings.effects.hoverPause, true) }}/>
                    <span>{{ translate('Yes') }}</span>
                    <br/>
                </label>
                <label for="effectsHoverPauseFalse">
                    <input type="radio" name="effects[hoverPause]"
                           id="effectsHoverPauseFalse"
                           value="false" {{ macro.checked('false', slider.settings.effects.hoverPause, false) }}/>
                    <span>{{ translate('No') }}</span>
                    <br/>
                </label>
            </td>
        </tr>
        </thead>
    </table>

    <table class="form-table" data-tab="controls" id="controls">
        <thead>
        <tr>
            <th scope="row">
                <label for="controlsNavigation">
                    {{ translate('Navigation') }}
                    {{ form.tooltip('general-navigation-coin') }}
                </label>
            </th>
            <td>
                <label for="controlsNavigationTrue">
                    <input type="radio" name="controls[navigation]"
                           id="controlsNavigationTrue"
                           value="true"
                           {% if 'true' == slider.settings.controls.navigation %}
                               checked="checked"
                           {% endif %}
                           />
                    <span>{{ translate('Yes') }}</span>
                    <br/>
                </label>
                <label for="controlsNavigationFalse">
                    <input type="radio" name="controls[navigation]"
                           id="controlsNavigationFalse"
                           value="false"
                            {% if 'false' == slider.settings.controls.navigation %}
                                checked="checked"
                            {% endif %}
                           />
                    <span>{{ translate('No') }}</span>
                    <br/>
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="controlsLinks">
                    {{ translate('Links') }}
                    {{ form.tooltip('general-links') }}
                </label>
            </th>
            <td>
                <label for="controlsLinksTrue">
                    <input type="radio" name="controls[links]"
                           id="controlsLinksTrue"
                           value="true"
                           {% if 'true' == slider.settings.controls.links %}
                               checked="checked"
                           {% endif %}
                           />
                    <span>{{ translate('Yes') }}</span>
                    <br/>
                </label>
                <label for="controlsLinksFalse">
                    <input value="false" type="radio" name="controls[links]"
                           id="controlsLinksFalse"
                           {% if 'false' == slider.settings.controls.links %}
                               checked="checked"
                           {% endif %}
                           />
                    <span>{{ translate('No') }}</span>
                    <br/>
                </label>
            </td>
        </tr>
        </thead>
    </table>

    <!-- Effect preview modal window -->
    <div id="previewWindow" style="display: none" title="Effects">
        {% for current in ['random', 'swirl', 'rain', 'straight'] %}
            <div id="effectPreview-{{ current }}" class="effectPreview" data-effect="{{ current }}" style="display: none;">
                {% for i in 0..3 %}
                    <a href="{{ environment.getModule('coin').getLocationUrl() }}/assets/samples/{{ i }}.jpg" target="_blank">
                        <img src="{{ environment.getModule('coin').getLocationUrl() }}/assets/samples/{{ i }}.jpg">
                    <span>
                        {{ current|title }}
                    </span>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
        <div id="effectPreviewVariants" style="margin-top: 20px;">
            {% for effect in ['random', 'swirl', 'rain', 'straight'] %}
                <label style="width: 190px; float: left; margin-bottom: 10px;" for="effect{{ effect|title }}">
                    <input type="radio" name="unsusedvalueradiobutton" value="{{ effect }}" id="effect{{ effect|title }}" class="changeEffect" {% if slider.settings.effects.effect == effect %}checked="checked"{% endif %}/>
                    <span>{{ effect|title }}</span>
                </label>
            {% endfor %}
        </div>
    </div>
{% endblock %}