{% extends 'base.twig' %}

{% macro renderSlider(slider) %}
    <div class="gg-item gg-slider" id="slider-{{ slider.id }}">
        <h3>{{ slider.title|capitalize }}</h3>
        <div class="image">
            {% if slider.images|length > 0 %}
                <img src="{{ get_image_src(slider.images[0].attachment.id, '420', '250')[0] }}" alt="{{ slider.title }}" title="{{ slider.title }}" width="450" height="220"/>
            {% else %}
                <img src="http://placehold.it/450x220&text={{ slider.title }}" alt="{{ slider.title }}" title="{{ slider.title }}" width="450" height="220"/>
            {% endif %}
        </div>
        <div class="buttons-wrap" style="display: inline-block; height: auto;">
            <ul class="gg-control-btn">
                <li>
                    <a href="{{ environment.generateUrl('slider', 'view', { 'id': slider.id }) }}" class="button">
                        <i class="fa fa-gear"></i>
                        {{ environment.translate('Properties') }}
                    </a>
                </li>
                <li>
                    <button class="button" disabled="disabled">
                        <i class="fa fa-eye"></i>
                        {{ environment.translate('Preview') }}
                    </button>
                </li>
                <li>
                    <a class="delete-gallery button" href="{{ environment.generateUrl('slider', 'delete', { 'id': slider.id }) }}">
                        <i class="fa fa-trash-o"></i>
                        {{ environment.translate('Delete Slider') }}
                    </a>
                </li>
            </ul>
            <div class="gg-counter">
                <i class="fa fa-picture-o"></i>
                {{ environment.translate('Total images: ') }}
                <span style="font-weight: 200;">{{ slider.images|length|default(0) }}</span>
            </div>
            {% if environment.isPro() %}
                <div class="gg-counter">
                    <i class="fa fa-video-camera"></i>
                    {{ environment.translate('Total videos: ') }}
                    <span style="font-weight: 200;">{{ slider.videos|length|default(0) }}</span>
                </div>
            {% endif %}
        </div>
        <div class="regular-text" id="propsShortcode" style="display: inline-block; margin-left: 20px;">
            <h3 style="display: inline-block;"> {{ environment.translate('Shortcode: ') }} </h3>
            [supsystic-slider id = {{ slider.id }}]
        </div>
    </div>
{% endmacro %}

{% block toolbar %}
    {% import 'macro/toolbar.twig' as toolbar %}

    <!-- Template: {{ environment.getModule('slider').getLocation() }}/views/index.twig -->
    <h1 style="margin-left: 10px; padding: 20px; border-bottom: 1px solid black;">{{ environment.translate('Sliders List') }}</h1>
    <!-- End of Template: {{ environment.getModule('slider').getLocation() }}/views/index.twig -->
{% endblock %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.twig' as breadcrumbs %}

    {{ parent() }}

    <!-- Template: {{ environment.getModule('slider').getLocation() }}/views/index.twig -->
    {{ breadcrumbs.item(environment.generateUrl('slider'), environment.translate('Sliders')) }}
    <!-- End of Template: {{ environment.getModule('slider').getLocation() }}/views/index.twig -->
{% endblock %}

{% block content %}

    {% import _self as self %}

    <!-- Template: {{ environment.getModule('slider').getLocation() }}/views/index.twig -->
    <section class="gg-galleries">
        <div class="gg-galleries-grid">
            {% for slider in sliders %}
                {{ self.renderSlider(slider) }}
            {% else %}
                <h2 class="header-muted">You haven't any sliders yet</h2>
            {% endfor %}
        </div>
    </section>

    <div id="newSliderDialog" title="{{ environment.translate('New slider') }}" data-width="550" data-auto-open="false">
        <form id="newSliderDialogForm">
            <table class="form-table">
                <thead>
                <tr>
                    <th scope="row">
                        <label for="sliderNameInput">
                            {{ environment.translate('Slider title') }}
                        </label>
                    </th>
                    <td>
                        <input id="sliderNameInput" type="text" name="title" style="width:100%"/>
                    </td>
                </tr>
                {% if available is defined and available is iterable and available|length > 1 %}
                <tr>
                    <th scope="row">
                        <label for="sliderPlugin">
                            {{ environment.translate('Select module') }}
                        </label>
                    </th>
                    <td>
                        {% for plugin in available %}
                            <label for="plugin-{{ plugin.getModuleName() }}">
                                <input type="radio" name="plugin"
                                       id="plugin-{{ plugin.getModuleName() }}"
                                       {% if loop.first %}checked="checked"{% endif %}
                                       value="{{ plugin.getModuleName() }}"/>
                                <span>{{ plugin.getSliderName() }}</span>
                            </label><br/>
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                    <input name="plugin" value="{{ environment.getConfig().get('default_slider') }}" type="hidden"/>
                {% endif %}
                </thead>
            </table>
            <input type="button" id="add-slider-button" value="Ok" class="button"/>
            <input type="button" id="cancel-slider-button" value="Cancel" class="button"/>
            <input name="action" value="supsystic-slider" type="hidden"/>
            <input name="route[module]" value="slider" type="hidden"/>
            <input name="route[action]" value="create" type="hidden"/>
        </form>
    </div>
    <!-- End of Template: {{ environment.getModule('slider').getLocation() }}/views/index.twig -->
{% endblock %}