{% extends '@slider/index.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.twig' as breadcrumbs %}

    {{ parent() }}
    {{ breadcrumbs.item(environment.generateUrl('slider', 'view', { 'id': slider.id }), slider.title|title) }}
{% endblock %}

{% block toolbar %}
    {% import 'macro/toolbar.twig' as toolbar %}

    {{ toolbar.button('choose-import', translate('Add Images'), { 'icon': 'upload' }) }}

    {% if slider.plugin != 'coin' %}
        {% if environment.isPro() %}
            {{ toolbar.button('uploadVideo', translate('Add Video'), { 'id': 'uploadVideo','icon': 'video-camera', 'dataset': { 'folder-id': '0', 'slider-id': slider.id } }) }}
        {% else %}
            <button id="free-video" class="button button-primary">
                <i class="fa fa-video-camera"></i>
                Import Video
            </button>
        {% endif %}
    {% endif %}

    {#{{ toolbar.primaryUrl('upload-images', environment.generateUrl('slider', 'add', { 'id': slider.id }), environment.translate('Add images'), { 'icon': 'upload' }) }}#}
    {{ toolbar.button('preview-trigger', translate('Preview'), { 'icon': 'eye', 'container': { 'style': {'float': 'right'}} }) }}
    {{ toolbar.button('change', translate('Change Slider') , { 'icon': 'wrench' }) }}

    {{ toolbar.separator() }}

    {#Uncomment to enable delete items button#}
    {#{{ toolbar.icon('delete-element', 'trash-o') }}

    {{ toolbar.separator() }}#}

    {% if slider.plugin == 'bx' %}
        {% if environment.isPro() %}
            {{ toolbar.icon('visual-editor', 'edit', {}, 'Builder') }}
        {% else %}
            <button id="free-builder" class="button button-primary">
                <i class="fa fa-edit"></i>
                Builder
            </button>
        {% endif %}
    {% endif %}

    {{ toolbar.primary('save', translate('Save'), { 'icon': 'check', 'container': { 'style': {'float': 'right'} }, 'custom': {'form': 'settings'} }) }}
    {{ toolbar.button('delete', translate('Delete'), { 'icon': 'trash-o', 'container': { 'style': {'float': 'right'} }, 'dataset': { 'id': slider.id, 'redirect-uri': environment.generateUrl('slider'), 'confirm': translate('Are you really want to delete ') ~ slider.title ~ '?' } }) }}
{% endblock %}

{% block content %}
    {% import '@ui/type.twig' as view_type %}
    {% import '@core/form.twig' as form %}
    {% import 'macro/toolbar.twig' as toolbar %}

    {% set small = 0 %}
    {% for image in slider.images %}
        {% if image.attachment.sizes.full.width < slider.settings.properties.width %}
            {% set small = small + 1 %}
        {% endif %}
    {% endfor %}

    {% if small > 0 %}
        <div class="error">
            <p><strong>Warning:</strong> {{ small }} {% if small > 1 %}photos{% else %}photo{% endif %} is smaller then slider width (<span class="sliderWidth">{{ slider.settings.properties.width }}</span>px)</p>
        </div>
    {% endif %}

    <div id="image-area" class="half-page-left">
        {% if environment.isPro() and slider.plugin != 'bx' %}
            <h3 style="margin-left: 20px; border-bottom: 1px solid #000000">Posts and Pages</h3>
            <button class="button remove-post" style="display: block; margin-left: 20px;">
            <i class="fa fa-trash-o"></i>
                Remove post
            </button>
            <table id="posts-table"></table>
            <h3 style="margin-left: 20px; border-bottom: 1px solid #000000">Select posts to show</h3>
            <label for="post-feed-selectPages" style="margin-left: 20px;">Pages: </label>
            <select id="post-feed-selectPages" style="margin-left: 17px; max-width: 240px;">
                {% for page in all_pages({'posts_per_page': -1}) %}
                    <option value="{{ page.ID }}">{{ page.post_title }}</option>
                {% endfor %}
            </select>
            <button class="button add-page" style="height: 29px; line-height: 1px; float: right;">Add page</button>
            </br>
            <label for="post-feed-selectPosts" style="margin-left: 20px;">Posts: </label>
            <select id="post-feed-selectPosts" style="margin-left: 20px; max-width: 240px;">
                {% for post in all_posts({'posts_per_page': -1}) %}
                    <option value="{{ post.ID }}">{{ post.post_title }}</option>
                {% endfor %}
            </select>
            <button class="button add-post" style="height: 29px; line-height: 1px; float: right;">Add post</button>
        {% endif %}
        <h3 style="margin-left: 20px; border-bottom: 1px solid #000000">Media</h3>
        {#<button id="button-select" class="button " data-enabled="none|one|many|all" data-toolbar-button="" value="select" name="Select all" style="margin-left: 24px;">
            <i class="fa fa-fw fa-check"></i>
        </button>#}
        <button id="delete-element" class="button" style="margin-left: 90%;">
            <i class="fa fa-fw fa-trash-o"></i>
        </button>
        {% if slider.entities is not empty %}
            {{ view_type.list_view(slider) }}
        {% else %}
            <h2 class="header-muted" style="text-align: center;">You haven't any images yet.</h2>
        {% endif %}
        {% if environment.isPro() != 'true' %}
            <a href="http://supsystic.com/plugins/slider/">
                <a href="http://supsystic.com/plugins/slider?utm_source=plugin&utm_medium=post&utm_campaign=slider"><img src="{{ environment.getModule('coin').getLocationUrl() }}/assets/samples/posts_pro.jpg" style="margin-left: 20px; width: 90%;"></a>
            </a>
        {% endif %}
    </div>
    <div id="settings-area" class="half-page-right settings">

        <form id="settings" method="post" action="{{ environment.generateUrl('slider', 'saveSettings') }}">

            <input id="sliderID" name="id" value="{{ slider.id }}" type="hidden"/>

            <table class="form-table">
                <thead>
                <tr data-tab="properties" id="properties">
                    <th scope="row">
                        <label for="propsShortcode">
                            {{ translate('Shortcode') }}
                        </label>
                    </th>
                    <td>
                        <span class="regular-text" id="propsShortcode">[supsystic-slider id = {{ slider.id }}]</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="propsSliderWidth">
                            {{ translate('Slider width') }}
                        </label>
                    </th>
                    <td>
                        <input class="regular-text" type="number" style="display: inline; width: 110px;"
                               value="{{ slider.settings.properties.width }}"
                               min="0"
                               step="100"
                               name="properties[width]"
                               id="propsSliderWidth"/>
                        {% if slider.plugin == 'bx' %}
                            <select class="regular-text"
                                    name="properties[widthType]"
                                    style="display: inline; height: inherit;position: relative; bottom: 2px; width: 64px;">
                                <option value="px">pixels</option>
                                <option value="%">percents</option>
                            </select>
                        {% else %}
                            <span class="regular-text" style="display: inline; height: inherit;position: relative; bottom: 2px;">
                                {{ translate('pixels') }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="propsSliderHeight">
                            {{ translate('Slider height') }}
                        </label>
                    </th>
                    <td style="float: left;">
                        <input class="regular-text" type="number"
                               style="display: inline; width: 110px;"
                               value="{{ slider.settings.properties.height }}"
                               min="0"
                               step="100"
                               name="properties[height]"
                               id="propsSliderHeight"/>
                        <span class="regular-text" style="display: inline; height: inherit;position: relative; bottom: 2px;">
                            {{ translate('pixels') }}
                        </span>
                    </td>
                </tr>
                {% block form %}{% endblock %}
                </thead>
            </table>
        </form>

        <div id="changePluginWindow" class="supsystic-plugin" title="{{ translate('Change Slider Type') }}" style="display: none;">
            <form id="changePlugin">
                <input name="id" type="hidden" value="{{ slider.id }}"/>
                <input name="route[module]" value="slider" type="hidden"/>
                <input name="route[action]" value="changePlugin" type="hidden"/>
                <input name="action" value="supsystic-slider" type="hidden"/>

                <h3>{{ translate('Select plugin') }}</h3>

                {% for plugin in environment.getModule('slider').getAvailableSliders() %}
                    <div>
                        <input type="radio" name="plugin"
                               id="plugin-{{ plugin.getModuleName() }}"
                               value="{{ plugin.getModuleName() }}"
                               {% if slider.plugin == plugin.getModuleName() %}checked="checked"{% endif %}/>
                        <h3 style="display: inline-block;">
                            {{ plugin.getSliderName() }}
                            {{ form.tooltip('general-slider-' ~ plugin.getModuleName(), { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                        </h3>
                        <br/>
                    </div>
                {% endfor %}
                {% if environment.isPro() != 'true' %}
                    <div>
                        <input type="radio" disabled>
                        <h3 style="display: inline-block;">
                            {{ translate('Jssor PRO') }}
                            {{ form.tooltip('general-slider-jssor', { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                        </h3>
                        <a href="http://supsystic.com/plugins/slider/?utm_source=plugin&utm_medium=post&utm_campaign=slider" class="button button-primary" style="display: inline-block; margin-top: 14px;">More Info</a>
                        <br/>
                    </div>
                {% endif %}
                <p class="description">
                    {{ translate('Please note:') }}
                    {{ translate('Current settings will be removed without ability to restore.') }}
                </p>
            </form>
        </div>
    </div>

    <div id="preview-window" style="display: none;" title="Preview of {{ slider.title }}" data-id="{{ slider.id }}">
        <img src="{{ environment.getConfig().get('admin_url') }}images/wpspin_light.gif" alt="" style="display: block; margin: 10px auto;"/>
    </div>

    <div id="visual-editor-window" title="{{ translate('Visual editor') }}" data-id="{{ slider.id }}" data-loaded="false">
    </div>

    <div id="bx-editor-notice" title="{{ translate('Get PRO') }}" data-id="{{ slider.id }}" hidden>
            <a href="http://supsystic.com/plugins/slider?utm_source=plugin&utm_medium=builder&utm_campaign=slider">
                <img src="{{ environment.getModule('slider').getLocationUrl() }}/assets/images/pro_builder.jpg">
            </a>
    </div>

    <div id="choose-import-dialog" class="supsystic-plugin" title="{{ translate('Choose import source') }}" style="text-align: center;" hidden>
        <button id="import-images" class="button button-primary button-hero" data-folder-id="0" data-slider-id="{{ slider.id }}" data-upload="">
            <i class="fa fa-upload fa-2x"></i>
            {{ translate('Import from Wordpress Media Library') }}
        </button>
        <h3>{{ translate('Import from social networks') }}</h3>
        <a class="button button-primary button-hero" href="{{ environment.generateUrl('insta', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
            <i class="fa fa-instagram fa-2x"></i>
            {{ translate('Import from your Instagram account') }}
        </a>
        {% if environment.isPro() == true %}
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('flickr', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-flickr fa-2x"></i>
                {{ translate('Import from your Flickr account') }}
            </a>
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('tumblr', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-tumblr fa-2x"></i>
                {{ translate('Import from your Tumblr account') }}
            </a>
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('facebook', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-facebook fa-2x"></i>
                {{ translate('Import from your Facebook account') }}
            </a>
        {% else %}
            <h3>{{ translate('Get Pro to enable import') }}</h3>
            <a class="button button-primary button-hero" href="http://supsystic.com/plugins/photo-gallery/" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-unlock fa-2x"></i>
                {{ translate('Get PRO for 29$') }}
            </a>
            <button class="button button-primary button-hero gallery" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-gallery-id="{{ slider.id }}" data-upload disabled>
                <i class="fa fa-flickr fa-2x"></i>
                {{ translate('Import from your Flickr account') }}
            </button>
            <button class="button button-primary button-hero gallery" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-gallery-id="{{ slider.id }}" data-upload disabled>
                <i class="fa fa-tumblr fa-2x"></i>
                {{ translate('Import from your Tumblr account') }}
            </button>
            <button class="button button-primary button-hero gallery" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-gallery-id="{{ slider.id }}" data-upload disabled>
                <i class="fa fa-facebook fa-2x"></i>
                {{ translate('Import from your Facebook account') }}
            </button>
        {% endif %}
    </div>

    <div id="uploadVideoModal" title="{{ translate('Import video') }}" style="display: none;">
        <form id="uploadVideoForm">
            <table class="form-table">
                <thead>
                <tr>
                    <th scope="row">
                        <label for="videoUrl">
                            {{ translate('Video URL:') }}
                        </label>
                    </th>
                    <td>
                        <input class="regular-text" type="text" name="url"
                               id="videoUrl"/>
                        <p class="description">
                            {% if slider.plugin == 'bx' %}
                                {% set sources = ['Youtube', 'Vimeo'] %}
                            {% else %}
                                {% set sources = ['Youtube'] %}
                            {% endif %}
                            {{ translate('Supported platforms: %s.')|format(sources|join(', ')) }}
                        </p>
                        <p id="uploadVideoFormError" class="description" style="color:red;"></p>
                    </td>
                </tr>
                </thead>
            </table>
            <input value="supsystic-slider" name="action" type="hidden"/>
            <input value="photos" name="route[module]" type="hidden"/>
            <input value="importVideo" name="route[action]" type="hidden"/>
        </form>
    </div>

    <script>
        (function($) {
            $(document).ready(function() {
                jQuery('#button-select, #jqgh_jqgrid-htable-img-list_id').on('click', function() {
                    if($(this).val() == 'select') {
                        jQuery('[name="image[]"]').each(function() {
                            $(this).attr('checked', 'checked');
                        });
                        $(this).val('deselect');
                    } else {
                        jQuery('[name="image[]"]').each(function() {
                            $(this).removeAttr('checked');
                        });
                        $(this).val('select');
                    }
                });

                $('#jqgh_jqgrid-htable-img-list_id').attr('value', 'select');

                jQuery('[name="properties[widthType]"] option').each(function() {
                    if($(this).val() == "{{ slider.settings.properties.widthType }}") {
                        $(this).attr('selected', 'selected');
                    }
                });
            });
        })(jQuery);
    </script>

{% endblock %}
