{% set veditor = attribute(slider.settings, '__veditor__') %}
{% set v = attribute(veditor, '.bx-caption') %}

<div class="rs-veditor-group">
    <label>{{ translate('Text align') }}</label>
    <select
        name="[_veditor_][.bx-caption][text-align]"
        class="rs-veditor-input"
        data-selector=".bx-caption"
        data-prop="text-align"
    >
        <option value="left" {% if attribute(v, 'text-align')|default('left') == 'left' %}selected="selected"{% endif %}>
            {{ translate('Align left') }}
        </option>
        <option value="center" {% if attribute(v, 'text-align')|default('left') == 'center' %}selected="selected"{% endif %}>
            {{ translate('Align center') }}
        </option>
        <option value="right" {% if attribute(v, 'text-align')|default('left') == 'right' %}selected="selected"{% endif %}>
            {{ translate('Align right') }}
        </option>
    </select>
</div>

<div class="rs-veditor-group">
    <label>{{ translate('Text color') }}</label>
    <input
        name="[_veditor_][.bx-caption][color]"
        data-selector=".bx-caption"
        data-prop="color"
        type="text"
        class="rs-veditor-input rs-veditor-colorpicker"
        value="{{ v.color|default('#000000') }}"
     />
</div>


<div class="rs-veditor-group">
    <label>{{ translate('Background color') }}</label>
    <input
        name="[_veditor_][.bx-caption][background-color]"
        data-selector=".bx-caption"
        data-prop="background-color"
        type="text"
        class="rs-veditor-input rs-veditor-colorpicker"
        value="{{ attribute(v, 'background-color')|default('rgba(0,0,0,.3)') }}"
     />
</div>

<div class="rs-veditor-group">
    <label>{{ translate('Text size') }}</label>
    <input
            name="[_veditor_][.bx-caption][font-size]"
            class="rs-veditor-input"
            data-selector=".bx-caption"
            data-prop="font-size"
            type="text"
            value="{{ attribute(v, 'font-size')|default('1.0em') }}"
            />
</div>

<div class="rs-veditor-group">
    <label>{{ translate('Text Animation') }}</label>
    <select
            name="[_veditor_][.bx-caption][text-animation]"
            class="rs-veditor-input"
            data-selector=".bx-caption"
            data-selector-helper="span.caption"
            data-prop="text-animation"
            data-type="animation-effect"
            data-attr="data-effect"
            >
        <option value="disable" {% if attribute(v, 'text-animation')|default('disable') == 'disable' %}selected="selected"{% endif %}>
            {{ translate('Disable') }}
        </option>
        <option value="enable" {% if attribute(v, 'text-animation')|default('disable') == 'enable' %}selected="selected"{% endif %}>
            {{ translate('Enable') }}
        </option>
    </select>
</div>

<div class="rs-veditor-group">
    <label>{{ translate('Text in effect') }}</label>
    <select
            name="[_veditor_][.bx-caption][text-in-effect]"
            class="rs-veditor-input"
            data-selector=".bx-caption"
            data-selector-helper="span"
            data-prop="text-effect-in"
            data-type="in-effect"
            data-attr="data-in-effect"
            >
        <option value="fadeIn" {% if attribute(v, 'text-effect-in')|default('') == 'fadeIn' %}selected="selected"{% endif %}>
            {{ translate('FadeIn') }}
        </option>
        <option value="rollIn" {% if attribute(v, 'text-effect-in')|default('') == 'rollIn' %}selected="selected"{% endif %}>
            {{ translate('RollIn') }}
        </option>
        <option value="fadeInLeftBig" {% if attribute(v, 'text-effect-in')|default('') == 'fadeInLeftBig' %}selected="selected"{% endif %}>
            {{ translate('FadeInLeftBig') }}
        </option>
        <option value="fadeInRightBig" {% if attribute(v, 'text-effect-in')|default('') == 'fadeInRightBig' %}selected="selected"{% endif %}>
            {{ translate('FadeInRightBig') }}
        </option>
        <option value="fadeInLeft" {% if attribute(v, 'text-effect-in')|default('') == 'fadeInLeft' %}selected="selected"{% endif %}>
            {{ translate('FadeInLeft') }}
        </option>
        <option value="fadeInRight" {% if attribute(v, 'text-effect-in')|default('') == 'fadeInRight' %}selected="selected"{% endif %}>
            {{ translate('FadeInRight') }}
        </option>
        <option value="fadeInUp" {% if attribute(v, 'text-effect-in')|default('') == 'fadeInUp' %}selected="selected"{% endif %}>
            {{ translate('FadeInUp') }}
        </option>
        <option value="fadeInDown" {% if attribute(v, 'text-effect-in')|default('') == 'fadeInDown' %}selected="selected"{% endif %}>
            {{ translate('FadeInDown') }}
        </option>
        <option value="flipInX" {% if attribute(v, 'text-effect-in')|default('') == 'flipInX' %}selected="selected"{% endif %}>
            {{ translate('FlipInX') }}
        </option>
        <option value="flipInY" {% if attribute(v, 'text-effect-in')|default('') == 'flipInY' %}selected="selected"{% endif %}>
            {{ translate('FlipInY') }}
        </option>
    </select>
</div>

<div class="rs-veditor-group">
    <label>{{ translate('Text out effect') }}</label>
    <select
            name="[_veditor_][.bx-caption][text-out-effect]"
            class="rs-veditor-input"
            data-selector=".bx-caption"
            data-selector-helper="span"
            data-prop="text-effect-out"
            data-type="out-effect"
            data-attr="data-out-effect"
            >
        <option value="fadeOut" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOut' %}selected="selected"{% endif %}>
            {{ translate('FadeOut') }}
        </option>
        <option value="rollOut" {% if attribute(v, 'text-effect-out')|default('') == 'rollOut' %}selected="selected"{% endif %}>
            {{ translate('RollOut') }}
        </option>
        <option value="fadeOutLeftBig" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOutLeftBig' %}selected="selected"{% endif %}>
            {{ translate('FadeOutLeftBig') }}
        </option>
        <option value="fadeOutRightBig" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOutRightBig' %}selected="selected"{% endif %}>
            {{ translate('FadeOutRightBig') }}
        </option>
        <option value="fadeOutLeft" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOutLeft' %}selected="selected"{% endif %}>
            {{ translate('FadeOutLeft') }}
        </option>
        <option value="fadeOutRight" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOutRight' %}selected="selected"{% endif %}>
            {{ translate('FadeOutRight') }}
        </option>
        <option value="fadeOutUp" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOutUp' %}selected="selected"{% endif %}>
            {{ translate('FadeOutUp') }}
        </option>
        <option value="fadeOutDown" {% if attribute(v, 'text-effect-out')|default('') == 'fadeOutDown' %}selected="selected"{% endif %}>
            {{ translate('FadeOutDown') }}
        </option>
        <option value="flipOutX" {% if attribute(v, 'text-effect-out')|default('') == 'flipOutX' %}selected="selected"{% endif %}>
            {{ translate('FlipOutX') }}
        </option>
        <option value="flipOutY" {% if attribute(v, 'text-effect-out')|default('') == 'flipOutY' %}selected="selected"{% endif %}>
            {{ translate('FlipOutY') }}
        </option>
    </select>
</div>